.account-recovery-container {
    padding-top: 100px;
}

.account-recovery-header {
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 20px;
}

.password-input {
    width: 240px;
    height: 24px;
    border: solid 0.8px #808080;
    border-radius: 6px;
    background-color: transparent;
    margin-bottom: 16px;
}

.recovery-password-container::placeholder {
    color: #808080;
    text-indent: 6px;
}

.recovery-password-container:focus {
    outline: none;
}

.recovery-password-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-recovery-text {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.account-recovery-btn-container {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.account-recovery-btn-submit {
    background-color: transparent;
    border: 1px solid #808080;
    border-radius: 12px;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

    .account-recovery-btn-submit:hover {
        background-color: #075ce2;
        border: 1px solid #075ce2;
    }

    .account-recovery-btn-submit:focus {
        outline: none;
    }

.recovery-message {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
