.layout-container {
    background: #1d1e28;
    display: flex;
    min-height: 100vh;
}

.layout-mobile-menu {
    position: absolute;
    margin-top: 30px;
    background: #1d1e28;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: auto;
    scroll-behavior: smooth;
}

.layout-mobile-link {
    display: flex;
    align-items: center;
    border-bottom: solid 0.6px #808080;
}

.layout-mobile-link-content {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.layout-mobile-icon {
    margin-right: 20px;
    color: #fff;
}

.layout-mobile-name {
    font-size: 16px;
    color: #fff;
}

.layout-mobile-auth-btn-container {
    display: flex;
    padding-top: 30px;
    align-items: center;
    justify-content: center !important;
}

.layout-mobile-signout-btn {
    text-decoration: none;
    outline: none;
    border: none;
    width: 60vw;
    background-color: #f00;
}

.layout-mobile-is-auth-container {
    display: flex;
}

.layout-mobile-signup-btn,
.layout-mobile-signin-btn {
    text-decoration: none;
    outline: none;
    border: none;
    width: 32vw;
    background-color: #075ce2;
    border: 1px solid #075ce2;
    margin-left: 10px;
}

.layout-desktop-sidebar {
    padding: 1rem;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
    width: 0;
    transition: width 0.5s ease;
}

.layout-desktop-sidebar-links-container {
    width: 100%;
}

    .layout-desktop-sidebar-links-container a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;
    }

        .layout-desktop-sidebar-links-container a:hover {
            color: #075ce2;
        }

.layout-desktop-link {
    display: flex;
    align-items: center;
}

    .layout-desktop-link h4 {
        margin-left: 8px;
        margin-top: 4px;
    }

.layout-aside-visible-container {
    justify-content: flex-start;
    background-color: transparent;
    margin-top: 15px;
    position: fixed;
    transform: translateY(-50%);
}

.layout-aside-visible-btn {
    padding: 3px;
    background-color: transparent;
}

    .layout-aside-visible-btn:hover {
        border-color: transparent;
    }

    .layout-aside-visible-btn:focus {
        outline: none;
        text-decoration: none;
    }




.layout-header-outlet-container {
    flex: 1;
    display: flex;
    flex-Direction: column;
}

.layout-header-container {
    color: #fff;
    background: #1d1e28;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 25px;
    overflow: hidden;
    z-index: 10000;
    border-bottom: solid 0.6px #808080;
}

.layout-header-links {
    justify-content: flex-start;
    margin-left: 60px;
    margin-top: 0px;
    position: fixed;
}

    .layout-header-links a {
        margin-right: 20px;
        text-decoration: none;
        color: #fff;
        transition: color 0.3s ease;
    }

        .layout-header-links a:hover {
            color: #075ce2;
        }

.layout-head-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-find-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-input {
    height: 24px;
    width: 140px;
    background-color: transparent;
    border: solid 0.8px #808080;
    border-radius: 8px;
    margin-right: 5px;
    margin-top: -10px;
}

    .find-input:focus {
        outline: none;
    }

    .find-input.error {
        height: 24px;
        width: 140px;
        background-color: transparent;
        border: 1px solid #f00;
        margin-right: 5px;
        margin-top: -10px;
        border-radius: 8px;
    }

    .find-input.error:focus {
        outline: none;
    }

    .find-input::placeholder {
        color: #808080;
        text-indent: 6px;
    }

.layout-find-btn {
    margin-left: 5px;
    margin-top: -5px;
    padding: 3px;
    background-color: transparent;
}

    .layout-find-btn:hover {
        border-color: transparent;
    }

    .layout-find-btn:focus {
        outline: none;
    }

.layout-notification-container {
    margin-top: -5px;
    margin-left: 30px;
}

    .layout-notification-container a {
        text-decoration: none;
        color: #fff;
        transition: color 0.3s ease;
    }

        .layout-notification-container a:hover {
            color: #075ce2;
        }

.layout-header-signout-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: -38px;
}

.layout-header-signout-btn:hover {
    background-color: #f00;
    border: 1px solid #f00;
}

.layout-header-is-auth-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: -35px;
}

.layout-header-signup-btn,
.layout-header-signin-btn,
.layout-header-signout-btn {
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #808080;
    background-color: transparent;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

    .layout-header-signup-btn:focus,
    .layout-header-signin-btn:focus,
    .layout-header-signout-btn:focus {
        outline: none;
    }

    .layout-header-signup-btn:hover,
    .layout-header-signin-btn:hover {
        background-color: #075ce2;
        border: 1px solid #075ce2;
    }

.layout-header-signup-btn-container,
.layout-header-signin-btn-container {
    margin-left: 10px;
}

.layout-outlet {
    transition: margin-left 0.3s ease;
    padding-top: 55px;
    flex: 1;
}

@media only screen and (max-width: 768px) {
    .layout-notification-container,
    .layout-header-links,
    .layout-header-auth-btn-container {
        display: none;
    }
}
